.education {
  height: fit-content;
  width: 100%;

  margin: 0;
  padding: 0.75rem;

  align-items: flex-start;

  /* background-color: rgba(170, 175, 189, 0.25); */
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;  
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;

  align-self: flex-start;
  padding-left: 16.5%;
}

.details .name {
    color: white !important;
}

.details .job {
    color: white !important;
    font-size: medium;
    padding-left: 8px;
}
