.title {
    display: flex;
    flex-direction: column;
}

.title-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-text {
    font-size: large;
    font-weight: 500;
}

.title-description {
    font-size: small;
    padding-left: 3px;
}

.title-icon>img {
    height: 24px;
    margin-bottom: 4px;
}