.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;

    border-radius: 8px;

    position: relative;
    box-sizing: border-box;

    height: max-content;
    width: 100%;

    overflow: hidden;

    transition: .2s;

    /* animation: out 0.5s forwards; */
}

/* .card:hover {
    animation: in 0.5s forwards;
} */

@keyframes in {
    from {
        background-color: transparent;
        height: 100%;
        width: 100%;
    }

    to {
        background-color: whitesmoke;
        height: 120%;
        width: 120%;
    }
}

@keyframes out {
    from {
        background-color: whitesmoke;
        height: 120%;
        width: 120%;
    }

    to {
        background-color: transparent;
        height: 100%;
        width: 100%;
    }
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    gap: 16px;

    width: 100%;
}

.card-extra {
    min-width: fit-content;

    font-family: monospace;
    font-size: small;
    font-weight: 300;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: fit-content;
    width: 100%;

    gap: 8px;

    border-radius: 8px;
    padding: 0.1rem;
}

.card-background>img {
    position: absolute;
    top: -2rem;
    right: -3rem;

    height: 20rem;

    opacity: 0.05;
}