.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;

    border-radius: 8px;

    position: relative;
    box-sizing: border-box;

    overflow: hidden;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
}

.card-extra {
    font-family: monospace;
    font-weight: 300;
}

.card-background > img {
    position: absolute;
    top: -2.5rem;
    right: -2rem;

    height: 15rem;

    opacity: 0.05;
}