.timeline {
    list-style: none;
    padding: 0;
    width: 100%;
}

li.timeline-item {
    position: relative;
    padding-bottom: 1rem;
    padding-left: 20px;
    margin-left: 10px;

    background: linear-gradient(rgba(200, 197, 194, 0.75), rgba(200, 197, 194, 0.25)) left no-repeat;
    background-size: 2px 80%;
}

li.timeline-item .title,
li.timeline-item .title-text {
    font-size: medium;
}

li.timeline-item:last-child {
    padding-bottom: 0;
}

li.timeline-item:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    left: -5px;
    top: 6px;

    background: white;
    border-radius: 50%;
    border: 1px solid rgb(200, 197, 194);
    box-shadow: 2px 2px 0px rgba(241, 237, 233, 0.25);
}