.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 1.2em;
    left: 2em;

    overflow: hidden;

    z-index: 10;

    border-radius: 50%;
    background-color: aliceblue;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;  
}