.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 1.5em;
    left: 3em;

    border: 3px solid white;
    background-color: white;

    border-radius: 50%;
    overflow: hidden;

    z-index: 10;
}

.avatar-shadow {
    position: absolute;
    top: 1.5em;
    left: 3em;

    border-radius: 50%;

    z-index: 9;

    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}

.avatar-shadow:after {
    position: absolute;
    content: '';
    width: calc(100% + 24px);
    height: 67.5%;

    background-color: white;
    /* opacity: 0.75; */

    top: 0;
    left: -12px;
}