body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4em 0;
  margin: 0em;

  height: 100%;
  width: 100%;

  background: #e0e0e7;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base {
  height: 1200px;
  width: 800px;
  justify-content: flex-end !important;
  padding: 5px;
  
  background-color: black;
  box-shadow: rgba(50, 50, 93, 0.45) 0px 30px 60px -12px, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px;
}

.base .details {
  align-self: flex-start;
  padding-left: 20%;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.base .details .name {
    color: white !important;
}

.base .details .job {
    color: white !important;
    font-size: medium;
    padding-left: 5px;
}

.main {
  height: 93%;
  width: 100%;

  background-color: whitesmoke;
}

.secondary {
  height: 10rem;
  width: 10rem;
  padding: 10px 15px;

  background-color: rgba(145, 173, 255, 0.25);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;  
}
