body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4em 0;
  margin: 0em;

  height: 100%;
  width: 100%;

  background: #e0e0e7;

  line-height: 1.5 !important;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base {
  display: flex;
  flex-direction: column;
  height: 1299.21px;
  width: 1003.94px;
  justify-content: flex-start;
  padding: 0.25rem;

  background-color: black;
  box-shadow: rgba(50, 50, 93, 0.45) 0px 30px 60px -12px, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px;

  animation: unset;
}

.base:hover {
  animation: unset;
  transform: unset;
}

.base .card-content {
  gap: 0;
}

.main {
  height: 100%;

  padding: 0.5rem 0.25rem;

  background-color: white;

  animation: unset;
}

.main .card-content {
  gap: 8px;
}

.main:hover {
  animation: unset;
  transform: unset;
}

.primary {
  margin: 0;
  padding: 0.5rem 0.75rem;

  /* background-color: rgba(189, 200, 234, 0.25); */
  /* box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;   */

  animation: unset;
}

.primary .card-title {
  padding-left: 8px;
}

.primary .card-title .title-text {
  color: rgba(62, 87, 101, 0.5)
}

.primary:hover {
  animation: unset;
  transform: unset;
}

.secondary {
  padding: 0.75rem;

  /* background-color: rgba(170, 175, 189, 0.25); */
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.secondary .card-title {
  padding-left: 0;
}

.secondary .card-title .title-text {
  color: rgba(0, 0, 0, 0.85)
}

.secondary .card-content {
  gap: 16px;
}

.tertiary .card-title .title-text {
  font-size: medium;
  padding-left: 8px;
}

.tertiary .card-title .title-icon>img {
  margin: 0;
}

.tertiary .card-content {
  padding: 8px;  
  background-color: rgba(230, 230, 230, 0.25);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.tertiary .card-header {
  align-items: flex-end;
}

.tertiary .badge {
  background: rgba(195, 219, 195, 0.25);

  font-size: x-small;
  font-weight: 400;
}

.tertiary .card-background {
  display: none;
}