.details {
  justify-content: center;
  align-self: flex-start;

  padding-left: 15%;
  height: 6%;
}

.details .name .title-text {
  /* color:whitesmoke; */

  font-weight: 600;
  font-size: x-large;
}

.details .job {
  /* color: whitesmoke; */
  
  font-size: medium;
  padding-left: 8px;
}