.details {
  display: flex;
  flex-direction: column;
  gap: 4px;

  justify-content: center;
  align-self: flex-start;
  padding-left: 16.5%;

  height: 7%;
}

.details .name {
    color: white !important;
}

.details .job {
    color: white !important;
    font-size: medium;
    padding-left: 8px;
}
